body {
  margin: 0;
  font-family: 'Chicle', cursive;
  background-image: url("./Images/beaches.gif");
  width: 100%;
  height: 100vh;
  background-color: #d5cdbe;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
